<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mygridview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".AbilityActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".TicketsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".OrganizeActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".LinkActivity" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".DevActivity" />
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ImfoActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>